* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: url(https://images.squarespace-cdn.com/content/v1/55760e0ae4b019b0586e2dd6/1511303380998-VYZIQ3NMOVKT2T05QPFR/ke17ZwdGBToddI8pDm48kFDQ-K1NyXPYqInGY6HBH-YUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcwCLwz4OH9FUewtGlV-kM0Hpqsmb8tMmIAPNYlCpJP_bdgNIbNBrUNRyhp3vZhoKq/tumblr_ne467aHpWr1smn4pqo5_1280.jpg?format=1500w);
}

form {
    border-radius: 19px;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 6% auto;
    background-color: rgba(233, 202, 243, 0.7);
    padding: 5%;
}

form h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

form input {
    border-radius: 9px;
    width: 80%;
    margin: 1% auto;
    padding: 1.7%;
}


.welcome {
    color: azure;
    text-align: center;
    width: 60%;
    padding: 3%;
    border-radius: 8px;
    margin: 2% auto;
    background: rgba(168, 207, 243, 0.74);
    font-family: 'Raleway', sans-serif;
}